.container {
  width: 100%;
}

.form-control:focus {
  border-color: #dee2e6;
  outline: 0;
  box-shadow: none;
}

.input-group:focus-within {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  outline: 1px solid #86b7fe;
  box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
  border-radius: 0.375rem;
}

.todo-completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: mediumpurple;
}

@media (min-width: 900px) {
  .container {
    max-width: 900px;
    margin: 0 auto;
  }
}